@keyframes headerShrink {
  0% {
    min-height: 400px;
  }
  100% {
    min-height: 170px;
  }
}

@keyframes logoShrink {
  0% {
    width: 70%;
    min-width: 500px;
  }
  100% {
    width: 500px;
  }
}